body{
    margin: 10px;
}

article p :first-child{
    font-size: 140%;
    font-style: italic;
}
article p :first-of-type {
    font-size: 140%;
    font-style: italic;
}
article p :last-child {
    font-weight: bold;
    font-size: 200%;
}
ul li:nth-child(odd) {
    color: blue;
}