body{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: 0.5s ease-in ;
}
.box:hover {
    transform: rotate(45deg);
    background-color: deeppink;
}
