
#one{
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
}
a:link {
    color: red;
}
a:visited {
    color: dodgerblue;
}
a:focus {
    text-decoration: none;
    background: yellow;
}
a:active {
    background: deeppink;
    color: darkblue;
}
a[href^="http"] {
    background: url( icons8-external-link-26.png) no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}